//font Roboto
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext');

//font-family
$roboto: 'Roboto',
sans-serif;

//font-size
$size: 10px;

//font-weight
$light: 300;
$regular: 400;
$bold: 700;
